a {
	color:white;
	text-decoration: none;
}

a:hover {
	color:gray;
	text-decoration: none;
	cursor:pointer;
}

body {
	font-family: 'Tenor Sans', serif;
	background:url("nicepic.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	color:white;
 }

hr{
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

img{
	max-width: 100%; 
	height: auto;
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
}


.avatar{
	border-radius:50%;
}

.test{
	color:red;
}

.card{
	background-color: rgba(255, 255, 255, 0.2);
}

.card-brands{
	height: 200px;
}

.card-container{
	height: 770px;
}

.grow {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.navitem{
	padding-left: 30px;
	padding-right: 30px;
}

.scroll {
    max-height: 770px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.linkedin{
	color: dodgerblue;
}

.github{
	color: black;
}

.youtube{
	color: red;
}

.email{
	color: lightyellow;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.sniffdata{
	object-fit: cover;
}

.sniff{

}